
.swiftpm/xcode/package.xcworkspace/xcuserdata/Hans.xcuserdatad/UserInterfaceState.xcuserstate
.swiftpm/xcode/xcuserdata/hans.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
.swiftpm/playgrounds/CachedManifest.plist
.swiftpm/**/xcschememanagement.plist
.DS_Store
